html{
    height: 90vh;
}
body{
    background-color: #000000;
    margin: 0.5px;
    height: 89.5vh;
    box-sizing: border-box;
}

nav{
    display: flex;
    color: #09B9C2;
    justify-content: space-between;
    height: 10.5vh;
}
    .left{
        display: flex;
        flex-direction: column;
        width: 25%;
        align-items: end;
        justify-content: start;
        margin-left: 4%;
        position: relative;
    }
        .left-top{
            display: flex;
            flex-direction: column;
            width: 117%;
            height: 30px;
            justify-content: space-around;
            position: absolute; /* Make it overlap */
            top: 0.5; /* Position at the top */
            z-index: 2;
            margin-left: 90%;
        }
            .bulb{
                display: flex;
                justify-content: space-around;
                height: 15px;
            }
            .rope{
                display: flex;
                justify-content: space-around;
                height: 15px;
            }
                .bulb img {
                    height: 18px;
                    width: 37px;
                    transition: box-shadow 3s ease;
                    transition: background-color 0s ease;   
                    /* background-color: rgba(255, 255, 255, 0.123); */
                    border-radius: 100%;
                }
                .rope img{
                    height: 18px;
                    width: 	37px;
                }
            
        .left-bot{
            width: 100%;
            height: 30px;
            position: absolute; /* Make it overlap */
            top: 0.5; /* Ensure it starts at the same top position */
            z-index: 1;
            margin-top: 10px;
        }
            .left-bot p{
                color: #09B9C2;
                font-family: 'Dhurjati';
                font-size: 41px;
                height: 60px;
                text-decoration: none;
                margin: 0.5px 0px;
                text-align: left;
            }
    .right{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 65%;
        margin-right: 2%;
    }
        .right p{
            cursor: pointer;
            color: #fafafa;
            font-family: 'Actor';
            font-size:20px;
            text-decoration: none;
            margin: 0.5px 40px 0px 40px;
        }


.bodyCont {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .bcTop{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .bcBot{
        display: flex;
        height: 100%;
        width: 100%;
    }
        .t1{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .t2{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .t3{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b1{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b2{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b3{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
            #piccode{
                filter: blur(0);
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 40px;
                width: 40px;
                /* margin-left: 25%;
                margin-top: 32%; */
                margin: 32% 0% 0% 25%;
                rotate: -20deg;
            }
            #picphp{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 7% 0% 0% 39%;
                rotate: 50deg;
            }
            #pichtml{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 22% 0% 0% 23%;
                rotate: 30deg;
            }
            #piclogic{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 10% 0% 0% 28%;
            }
            #picpup{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 45px;
                width: 45px;
                margin: 20% 0% 0% 28%;
                rotate: -10deg;
            }
            #picgit{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 24% 0% 0% 26%;
            }
            #picnoctyx{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 40px;
                width: 40px;
                margin: 2% 0% 0% 35%;
                rotate: 20deg;
            }
            #picreact{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 24% 0% 0% 38%;
                rotate: 90deg;
            }
            #picjs{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 17% 0% 0% 15%;
                rotate: 40deg;
            }
            #picdebug{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 19% 0% 0% 38%;
            }
            #piccss{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 20% 0% 0% 20%;
                rotate: -10deg;
            }
            #picweb{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 10% 0% 0% 17%;
            }

    .welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fafafa;
        margin-top: -40px;
    }
        .welcome .h1{
            font-family: 'Dhurjati';
            font-size: 81px;
            margin: 0.5px;
            font-weight: 10;
            height: 80px;
        }
        .welcome p{
            font-family: 'Dhurjati';
            font-size: 51px;
            margin: 0.5px;
            height: 80px;
        }

@media only screen and (max-width:600px) {
html{
    height: 100%;
}
body{
    background-color: #000000;
    margin: 0.5px;
    height: 89.5%;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: column;
    color: #09B9C2;
    justify-content: space-between;
    height: 10.5%;
}
    .left{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;
        justify-content: start;
        margin: 0.5px;
        position: relative;
    }
        .left-top{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30px;
            justify-content: space-around;
            position: absolute; /* Make it overlap */
            top: 0.5; /* Position at the top */
            z-index: 2;
            margin-left: 90%;
        }
            .bulb{
                display: flex;
                justify-content: space-evenly;
                height: 15px;
            }
            .rope{
                display: flex;
                justify-content: space-evenly;
                height: 15px;
            }
                .bulb img {
                    height: 18px;
                    width: 37px;
                    transition: box-shadow 3s ease;
                    transition: background-color 0s ease;   
                    /* background-color: rgba(255, 255, 255, 0.123); */
                    border-radius: 100%;
                }
                .rope img{
                    height: 18px;
                    width: 	37px;
                }
            
        .left-bot{
            width: 100%;
            height: 30px;
            position: absolute; /* Make it overlap */
            top: 0.5; /* Ensure it starts at the same top position */
            z-index: 1;
            margin-top: 0.5px;
        }
            .left-bot p{
                color: #09B9C2;
                font-family: 'Dhurjati';
                font-size: 41px;
                height: 60px;
                text-decoration: none;
                margin: 0.5px 0px;
                text-align: center;
            }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 65px 0px 0px 0px;
    }
        .right p{
            cursor: pointer;
            color: #fafafa;
            font-family: 'Actor';
            font-size:15px;
            text-decoration: none;
            margin: 0.5px 10px 0px 10px;
        }

.bodyCont {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .bcTop{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .bcBot{
        display: flex;
        height: 100%;
        width: 100%;
    }
        .t1{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .t2{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .t3{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b1{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b2{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
        .b3{
            display: flex;
            height: 100%;
            width: 100%;
            /* border: 1px solid #09B9C2; */
        }
            #piccode{
                filter: blur(0);
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 40px;
                width: 40px;
                /* margin-left: 25%;
                margin-top: 32%; */
                margin: 92% 0% 0% 10%;
                rotate: -20deg;
            }
            #picphp{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 35% 0% 0% 12%;
                rotate: 50deg;
            }
            #pichtml{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 65% 0% 0% 3%;
                rotate: 30deg;
            }
            #piclogic{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 80% 0% 0% 10%;
            }
            #picpup{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 45px;
                width: 45px;
                margin: 60% 0% 0% 8%;
                rotate: -10deg;
            }
            #picgit{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 75% 0% 0% 16%;
            }
            #picnoctyx{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 40px;
                width: 40px;
                margin: 30% 0% 0% 13%;
                rotate: 20deg;
            }
            #picreact{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 69% 0% 0% 8%;
                rotate: 90deg;
            }
            #picjs{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 55% 0% 0% 9%;
                rotate: 40deg;
            }
            #picdebug{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 29% 0% 0% 8%;
            }
            #piccss{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 75% 0% 0% 7%;
                rotate: -10deg;
            }
            #picweb{
                opacity: 0.5;
                transition: opacity 0.7s ease;
                height: 55px;
                width: 55px;
                margin: 40% 0% 0% 10%;
            }

    .welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fafafa;
        height: 100%;
        margin-top: -30px;
    }
        .welcome .h1{
            font-family: 'Dhurjati';
            font-size: 30px;
            margin: 0.5px;
            font-weight: 10;
            height: 40px;
        }
        .welcome p{
            font-family: 'Dhurjati';
            font-size: 25px;
            margin: 0.5px;
            height: 40px;
        }
}


/* border: 1px solid #09B9C2; */