.page5 {
    backdrop-filter: blur(3px);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: auto;
        width: 100%;
        margin-bottom: 0px;
        color: #fafafa;
        z-index: 1;
        overflow-x: none;
}
    .work {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 17%;
        margin: 40px 0px 0px 0px;
        
    }   
        .work p{
            font-family: 'Dhurjati';
            font-size: 50px;
            color: #F89700;
        }
        .work .bg-text{
            position: absolute;
            color: transparent;
            font-family: 'Dhurjati';
            font-size: 100px;
            margin: -55px 0px 0px 0px;
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.068); /* width and color */
            z-index: 0;
        }

        .box-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10%;
            margin: 0px 0px 10px 0px;
            gap: 20px;
            z-index: 2;
        }
            .bullet {
                display: flex;
                font-family: 'Open Sans', sans-serif;
                color: #09B9C2;
                font-size: 20px;
                cursor: pointer;
            }
            .box-nav p {
                font-family: 'Open Sans', sans-serif;
                color: #09B9C2;
                font-size: 20px;
                cursor: pointer;
            }
    
        .boxes {
            display: flex;
            align-items: start;
            justify-content: center;
            width: 70%;
            height: 90%;
            margin: 0px 0px 100px 0px;
            gap: 11px;
            transition: all 0.5 ease;
        }   
            .pattern1 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                width: 57%;
                height: 100%;
                gap: 11px;
            }
                .box1, .box6 {
                    opacity: 1;
                    visibility: visible;
                    background-color: #fd7302;
                    width: 100%;
                    height: 235px;
                    border-radius: 6px;
                    transition: transform 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                }
                .box2, .box5 {
                    opacity: 1;
                    visibility: visible;
                    background-color: #ecec04;
                    width: 100%;
                    height: 215px;
                    border-radius: 6px;
                    transition: transform 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                }
            .pattern2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                width: 43%;
                height: 100%;
                gap: 11px;
            }
                .box3, .box8, .box9 {
                    opacity: 1;
                    visibility: visible;
                    background-color: #c007ee;
                    width: 100%;
                    height: 250px;
                    border-radius: 6px;
                    transition: transform 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                }
                .box4, .box7, .box10 {
                    opacity: 1;
                    visibility: visible;
                    background-color: #f30ba6;
                    width: 100%;
                    height: 200px;
                    border-radius: 6px;
                    transition: transform 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                }
                    .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover {
                        transform: scale(1.04);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                    }


@media only screen and (max-width: 600px) {
    .work {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 17%;
        margin: 40px 0px 0px 0px;
        
    }   
        .work p{
            font-family: 'Dhurjati';
            font-size: 35px;
            color: #F89700;
            text-align: center;
        }
        .work .bg-text{
            position: absolute;
            color: transparent;
            font-family: 'Dhurjati';
            font-size: 40px;
            margin: 25px 0px 0px 0px;
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.068); /* width and color */
            z-index: 0;
        }

        .box-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10%;
            margin: -40px 0px 10px 0px;
            gap: 8px;
            z-index: 2;
        }
            .bullet {
                display: none;
                font-family: 'Open Sans', sans-serif;
                color: #09B9C2;
                font-size: 20px;
                cursor: pointer;
            }
            .box-nav p {
                font-family: 'Open Sans', sans-serif;
                color: #09B9C2;
                font-size: 12px;
                cursor: pointer;
            }

            .boxes {
                display: flex;
                align-items: start;
                justify-content: center;
                width: 97%;
                height: 90%;
                margin: 0px 0px 100px 0px;
                gap: 6px;
                transition: all 0.5 ease;
            }  
                .pattern1 {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    width: 57%;
                    height: 100%;
                    gap: 6px;
                }
                .pattern2 {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    width: 43%;
                    height: 100%;
                    gap: 6px;
                }
}



                   
                    
            
                